
@{
    ViewBag.Title = "AnalyzeReaderborrows";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/sweet-alert.min.js"></script>
<link href="~/Content/sweet-alert.css" rel="stylesheet" />
<script src="~/scripts/echarts.min.js"></script>
<div id="myChart2" style="height:400px;z-index:100"></div>
<div hidden="hidden">@ViewBag.Id</div> 
<script>
    var x;
    $.ajax({
        type: "post",
        async: false, //同步执行
        url: "/Admin/ReaderAnalyze1",
        data: { "Id": @ViewBag.Id },
        dataType: "json", //返回数据形式为json
        success: function (result) {
            x = result;
        },
        error: function (errorMsg) {
            sweetAlert("对不起...", "图表请求数据失败啦!", "error");
        }
    })

    var myChart2 = echarts.init(document.getElementById('myChart2'));

    myChart2.setOption({
        title: {
            text: '读者借阅统计表',
            subtext: '将该读者的借阅图书量按图书类别分组',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data: x.Names
        },
        series: [
            {
                name: '图书来源',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data: x.AnalyzeItems
            }
        ]
    });
</script>

