@model SSLS.WebUI.Models.LoginViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html> 
<head>
    <title>Login In</title>
    <link href="../../后台登录/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" . />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!--webfonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>
<body> 
    <h1>管理员登录</h1>
    <div class="app-location">
        <h2>Hello,administrator</h2> 
        <div class="line"><span></span></div>
        <div class="location"><img src="../../后台登录/images/location.png" class="img-responsive" alt="" /></div>
     @using (Html.BeginForm())
     {
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <div class="submit"><input type="submit" value="Log in" class="btn btn-primary" /></div>
            <div class="clear"></div>
            <div class="new">
                <h3><a href="#">忘记密码 ?</a></h3>
                <h4><a href="#"> 管理员注册</a></h4>
                <div class="clear"></div>
            </div>
     }
    </div>
    <!--start-copyright-->

    <!--//end-copyright-->
</body>
</html>