@model SSLS.Domain.Concrete.Reader

@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
@using (Html.BeginForm())
{
    <h2 class="title">密码修改</h2>
    <b>旧密码：</b>
    <input type="password" name="oldpassword" value=@Model.Password class="form-control"  style="margin-bottom:10px"/>
    <b>新密码：</b>
    <input type="password" name="password" value="" class="form-control"  style="margin-bottom:10px"/>

        <div class="text-center">
            <input type="submit" class="btn btn-success" value="提交修改" />
        </div>
}


